*, :before, :after {box-sizing:border-box;}
body{
    margin:0;
    font-family: "Intro";
}

img {
    max-width: 100%;
}

header nav {
    display:flex;
    margin-top:2em;
    margin-bottom: 2em;
}

header p {
    font-size: 75%;
    margin:0;
}

header .masthead {
    margin-left:5%;
}

header .menuDeroulant {
    margin-left: auto;
    display: flex;
    width: 15%;
}

header .img {
    width: 150px;
}


.navDesktop img {
  width: 100%;
 }

.order {
    padding: 7em;
    background-color:#b2d73c;
    }


    .order h2{
        text-transform: uppercase;
        color:white;
        margin:0;
        font-size: 2.4em;
        padding-bottom: 0.5em;
     }

     .order form {
         display: flex;
         flex-direction: column;
     }

     #address input {
         background-image: url(../images/pin.svg);
         

     }



