*, :before, :after {box-sizing:border-box;}
body{
    margin:0;
    font-family: "Intro";
}

img {
    max-width: 100%;
}

header nav {
    display:flex;
    margin-top:1em;
    margin-bottom: 1em;
}

header p {
    font-size: 0.8em;
    margin:0;
}

header .masthead {
    margin-left:5%;
}

header .menuDeroulant {
    margin-left: auto;
}

header img {
    display:block;
}

@media(min-width:900px){
    .navDesktop{
        display:flex; 
    }
    .navDesktop img {
        width:50%;
    }
    .order {
        padding: 7em;
        background-color: green;
    }
    .order h2{
        text-transform: uppercase;
        color:white;
        margin:0;
        font-size: 2.4em;
        padding-bottom: 0.5em;